<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connect - Registro</title>
    <link rel="stylesheet" href="../static/css/register.css">
</head>
<body>

    <div class="form-container">
    <img src="../static/img/connect.png" alt="logo">
    <h1>Connect</h1>
    <small>¿Ya tienes cuenta? <a href="/login"><b>Inicia sesión aquí</b></a></small>

    <form method="POST" action="{% url 'register' %}">

        {% csrf_token %}
        {% load widget_tweaks %}

        <label for="id_nombres">Nombres:</label>
        {{ form.nombres|add_class:"input-style" }}
        <span style="color: red;">{{ form.nombres.errors }}</span>

        <label for="id_apellidos">Apellidos:</label>
        {{ form.apellidos|add_class:"input-style" }}
        <span style="color: red;">{{ form.apellidos.errors }}</span>

        <label for="id_correo">Correo electrónico:</label>
        {{ form.correo|add_class:"input-style" }}
        <span style="color: red;">{{ form.correo.errors }}</span>

        <label for="id_password">Contraseña:</label>
        {{ form.password|add_class:"input-style" }}
        <span style="color: red;">{{ form.password.errors }}</span>

        <label for="id_direccion">Dirección:</label>
        {{ form.direccion|add_class:"input-style" }}
        <span style="color: red;">{{ form.direccion.errors }}</span>

        <button type="submit">Registrarse</button>
    </form>

    </div>

</body>
</html>
