<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connect</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="container-body">
        <header>
            <div class="header">
                <div class="header-left">
                    <img src="../static/img/connect.png" alt="logo" width="50px" height="50px">
                    <input type="search" placeholder="Buscar...">
                </div>
                <div class="header-center">
                    <ul>
                        <li><a href=""><i class="fa-solid fa-comments"></i>
                            Chats</a></li>
                        <li><a href=""><i class="fa-solid fa-users"></i>
                            Solicitudes de amistad</a></li>
                        <li><a href=""><i class="fa-solid fa-user-plus"></i>
                            Sugerencia de amistad</a></li>
                    </ul>

                </div>
                <div class="header-right">
                    <a href=""><span>"Nombre usuario" </span><i class="fa-solid fa-circle-user"></i></a>
                </div>
            </div>
        </header>

        <main>
            <div class="parent">
                <div class="div1">
                    <h2>Chats</h2>
                    <input type="search" placeholder="Buscar mis contactos...">


                </div>
                <div class="div2">
                    <div class="chat-container">
                        <div class="chat-header">
                            <div class="chat-header-left">
                                <h3><i class="fa-solid fa-circle-user"></i> Enzo Gonzales</h3></div>
                            <div class="chat-header-right">
                                <h3><a href=""><i class="fa-solid fa-phone"></i></a></h3>
                                <h3><a href=""><i class="fa-solid fa-video"></i></a></h3>
                            </div>
                        </div>
                        <div class="chat-messages">
                            <div class="message">Hello!</div>
                            <div class="message">How are you?</div>
                            <div class="message">I'm fine, thank you!</div>
                        </div>
                        <div class="chat-footer">
                            <div></div>
                            <div>
                                <input type="text" placeholder="Escribe tu mensaje..." class="chat-input">
                            </div>

                            <div></div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- <footer><h2>FOOTER</h2></footer> -->
    </div>

</body>
</html>